:root {
    --color-bg: #E7FFED;
    --color-bg-light-button: #68A678;
    --color-green-dark: #006A51;
    --color-light-black: #3B4A3F;
    --color-button-text: #FFFFFF;
    --color-black: #000000;
}
body{
    font-family: Roboto, sans-serif;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

